{% load static %}

<!DOCTYPE html>

<htm lang="utf-8"l>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ali khamooshi</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/text.css' %}">
    </head>
    <body>
     
       <h1>this is the home page </h1>
       <p> start here but doesnt end here </p>
       Anim est anim duis nulla ex exercitation id laborum laborum sunt commodo velit exercitation dolor. Pariatur ea occaecat dolor occaecat elit sint est excepteur est eiusmod. Cupidatat aliqua adipisicing tempor consequat velit amet magna sint aliqua dolor reprehenderit esse in. Pariatur nostrud commodo qui ad sint nulla adipisicing dolore proident enim anim reprehenderit. Voluptate tempor laboris magna deserunt ex mollit sit.
    </body>
</html>